@{
    ViewBag.Title = "Index";
}

@model List<Entity.Customer>

<h2>Index</h2>
<span>@ViewBag.Message</span>

<table>
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>

    @Html.Partial("NewCustomerForm")
</table>
